<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

    <!-- =========================== -->
    <!-- ======== JAXB / CXF ======= -->
    <!-- =========================== -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider"/>

    <bean id='jacksonProvider' class='org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider'/>


    <!-- =========================== -->
    <!-- ======== Services ========= -->
    <!-- =========================== -->

    <jaxrs:server id="restServices" address="/">
        <jaxrs:serviceBeans>
            <ref bean="userRest"/>
            <ref bean="outingEventRest"/>
            <ref bean="outingPlaceRest"/>
            <ref bean="tagRest"/>
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json"/>
        </jaxrs:extensionMappings>
        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
            <ref bean="jacksonProvider"/>
        </jaxrs:providers>
        <jaxrs:features>
            <cxf:logging/>
        </jaxrs:features>
    </jaxrs:server>


    <!-- ======== User Services ========= -->
    <bean id="userService" class="services.UserService">
        <property name="repository" ref="userDAO"/>
        <property name="addressDAO" ref="addressDAO"/>
        <property name="profileDAO" ref="profileDAO"/>

    </bean>

    <bean id="userRest" class="rest.UserRestService">
        <property name="service" ref="userService"/>
        <property name="tagService" ref="tagService"/>
    </bean>

    <!-- ======== Outing Event Services ========= -->
    <bean id="outingEventService" class="services.OutingEventService">
        <property name="repository" ref="outingEventDAO"/>
        <property name="addressDAO" ref="addressDAO"/>
    </bean>

    <bean id="outingEventRest" class="rest.OutingEventRestService">
        <property name="service" ref="outingEventService"/>
    </bean>

    <!-- ======== Outing Place Services ========= -->
    <bean id="outingPlaceService" class="services.OutingPlaceService">
        <property name="repository" ref="outingPlaceDAO"/>
        <property name="addressDAO" ref="addressDAO"/>

    </bean>

    <bean id="outingPlaceRest" class="rest.OutingPlaceRestService">
        <property name="service" ref="outingPlaceService"/>
    </bean>

    <!-- ======== Tag Services ========= -->
    <bean id="tagService" class="services.TagService">
        <property name="repository" ref="tagDAO"></property>
    </bean>
    <bean id="tagRest" class="rest.TagRestService">
        <property name="service" ref="tagService"/>
    </bean>
    <!-- ======== Initialize Services ========= -->
    <bean id="initialize" class="services.initialization.ServiceInitializer">
        <constructor-arg>
            <list>
                <ref bean="userService"></ref>
                <ref bean="outingEventService"></ref>
                <ref bean="outingPlaceService"></ref>
                <ref bean="tagService"></ref>
            </list>
        </constructor-arg>
    </bean>

</beans>