<div class="card-panel">
  <h6 translate="friends_search"></h6>
  <div class="row section">
    <div input-field class="col s12 m6 l4">
      <label translate>buscar...</label>
      <input type="text" ng-model="searchText" ng-change="search(searchText)"
             ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"/>
    </div>
    <div class="col s12 m7 l9">
      <table class="dtable striped">
        <tr ng-repeat="r in results">
          <td>{{r[1]}}</td>
          <td><a href="" ng-click="addFriend(r)" class="btn right">agregar</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="divider"></div>
  <h5 translate="my_friends"></h5>
  <div class="row section">
    <table>
      <tr ng-repeat="f in user.friends">
        <td><i class="fa fa-user left"></i>{{f[1]}}</td>
        <td><a href="" ng-click="remove(f)"><i class="material-icons">close</i></a></td>
        <td></td>
      </tr>
    </table>
  </div>

  <ul>
    <li></li>
  </ul>

</div>

