<div class="card-panel">
  <h5></h5>
  <div class="row">
    <div input-field class="col s12 m6 l5">
      <label>Nombre</label>
      <input type="text" ng-model="user.name"/>
    </div>
    <div input-field class="col s12 m6 l5">
      <label>Apellido</label>
      <input type="text" ng-model="user.surname"/>
    </div>
    <div input-field class="col s12 m6 l5">
      <label>Email</label>
      <input type="text" user.email/>
    </div>
  </div>
  <div class="row">
    <div input-field class="col s12 m6 l5">
      <label>Limite para salidas baratas</label>
      <input type="number" ng-model="user.inexpensiveOutingLimit"/>
    </div>
    <div class="col s12 m6 l5" ng-repeat="(category ,cat_tags) in tags | groupBy:'category.name'">
      <h6>{{category}}</h6>
      <div ng-repeat="t in cat_tags">
        <input type="checkbox" id="chk{{t.id}}" ng-click="selectTag(t.id)"/>
        <label for="chk{{t.id}}">{{t.name}}</label>
      </div>
    </div>
  </div>
</div>
