<div class="card-panel">
  <h5 translate> profile </h5>
  <div class="divider"></div>
  <div class="row section">
    <div input-field class="col s12 m6 l6">
      <label translate>name</label>
      <input type="text" ng-model="user.name"/>
    </div>
    <div input-field class="col s12 m6 l6">
      <label translate>surname</label>
      <input type="text" ng-model="user.surname"/>
    </div>
    <div input-field class="col s12 m6 l6">
      <label translate>email</label>
      <input type="email" ng-model="user.email" readonly/>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row section">
    <table style="border-collapse: collapse; padding: 0 0 0 0">
      <tr>
        <td style="text-align: right; width:20px">
          $
        </td>
        <td>
          <div input-field class="col s7 m4 l3">
            <label translate>inexpensive_limit</label>
            <input type="text" ng-model="user.inexpensiveOutingLimit"/>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <div class="divider"></div>
  <div class="row section">
    <div class="col s12 m6 l5 offset-l1" ng-repeat="c in categories">
      <h6 translate="tag_categories.{{c}}"></h6>
      <div ng-repeat="t in tags | filter: {category: {name: c}} ">
        <input type="checkbox" id="chk{{t.id}}" ng-model="t.checked" ng-change="selectTag(t.id)"/>
        <label for="chk{{t.id}}">{{t.name}}</label>
      </div>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row section">
    <div class="col s12 center-align">
      <a class="waves-effect waves-light btn" ng-click="save()">GUARDAR <i class="material-icons right">save</i></a>
    </div>
  </div>
</div>
