<!doctype html>
<html ng-app="advApp" ng-cloak translate-cloak>

<head>
  <meta charset="utf-8">
  <title translate="title"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
  <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto/roboto-fontface.css" />
  <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto-condensed/roboto-condensed-fontface.css" />
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet"
        href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<body ng-controller="AuthCtrl" ng-gauth>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header>
  <div class="navbar-fixed opacity-80">
    <nav>
      <div class="nav-wrapper black">

        <a href="#/" class="brand-logo left" translate="title"></a>
        <div class="container" ng-show="signedIn.value">
      <a href="#" data-activates="mobile-nav" class="button-collapse right hide-on-med-and-up"><i class="material-icons">menu</i></a>
      </div>
        <ul class="right hide-on-small-only" ng-show="signedIn.value">
          <li><a href="#/friends/" class="waves-effect waves-light" translate>friends</a></li>
        <li><a href="#/profile" class="waves-effect waves-light" translate>profile</a></li>
          <li><a href="#" class="waves-effect waves-light" ng-click="logout()" translate>logout</a></li>
      </ul>
        <ul class="side-nav right" id="mobile-nav" ng-show="signedIn.value">
          <li><a href="#/" class="waves-effect waves-light" translate>main</a></li>
          <li><a href="#/friends/" class="waves-effect waves-light" translate>friends</a></li>
        <li><a href="#/profile" class="waves-effect waves-light" translate>profile</a></li>
          <li><a href="#" class="waves-effect waves-light" ng-click="logout()" translate>logout</a></li>
      </ul>

    </div>
  </nav>
  </div>
</header>
<!--<button ng-click="signedIn.value =!signedIn.value; ">toggle LoginState: {{signedIn.value}}</button>-->
<div ng-if="!signedIn.value" ng-show="!signedIn.value" class="container center-align">
  <div class="row section" style="height:400px;" ng-cloak translate-cloak>

    <a class="btn red" style="margin-top:100px;" style="text-transform:none !important" ng-click="login()"><span
      translate="google_sign_in"></span><i class="fa fa-google left"></i></a>
  </div>
</div>
<div class="container" ng-view="" ng-if="signedIn.value">
</div>
<div ng-controller="LocaleCtrl" class="fixed-action-btn horizontal txt-shadow ">
  <a class="btn-floating btn-large red opacity-80" title="{{'language' | translate}}">
    <i class="material-icons">language</i>
  </a>
  <ul class="txt-shadow opacity-80">
    <li><a ng-click="changeLanguage('es')" class="btn-floating yellow darken-1"><span
      style="margin-right:10px">ES</span></a></li>
    <li><a ng-click="changeLanguage('en')" class="btn-floating orange darken-1"><span
      style="margin-right:10px">EN</span></a></li>
  </ul>
</div>
<div class="footer">
  <div class="container">
    <p class="center-align white-text txt-shadow"><a
      href="http://www.unq.edu.ar/carreras/32-tecnicatura-universitaria-en-programaci%C3%B3n-inform%C3%A1tica.php"
      target="_blank">TPI
      - UNQ</a> | {{'dev_app' | translate }} | Esteban Schafir {{'and' | translate}} Juan Pablo Camejo</p>
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/materialize/bin/materialize.js"></script>
<script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
<script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
<script
  src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/modules/gauth.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/auth.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/friends.js"></script>
<script src="scripts/controllers/search.js"></script>
<script src="scripts/controllers/i18n.js"></script>
<script src="scripts/filters/money.js"></script>
<script src="scripts/factories/api.js"></script>


<!-- endbuild -->

</body>

</html>
