body{
  outline: 0;
}

.opacity-80 {
  opacity: 0.8;
}

.txt-shadow {
  text-shadow: 1px 1px 1px #000;
}

.main-btn {
  width: 100%;
}

html {
  background: url(/images/street-texture-hd-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Fallback for web browsers that doesn't support RGBa */
}

.dtable tr, .dtable td {
  height: 15px !important;
  padding: 1px 1px 1px 1px !important;
}

.side-nav li {
  z-index: 110 !important;
}

div.drag-target {
  z-index: 100 !important;
}

a.btn-floating {
  z-index: 105 !important;
}

.advTitle {
  font-size: 85%;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.hidden {
  display: none !important
}

.progress {
  margin: 0;
}

.mobile-modal {
  width: 98%;
}

.btn-details {
  padding: 0 20px 0 20px;
}

.title-icon {
  font-size: 32px;
  vertical-align: bottom;
}

.outingImage {
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
}

#assistance[type="checkbox"] + label {
  font-size: 1.5rem !important;
}

.view-overlay {
  width: 100%;
  height: calc(100% - 68px);
  display: block;
  position: fixed;
  top: 68px;
  background-color: black;
  opacity: 0.1;
  z-index: 999999999;
}

.progress {
  position: fixed;
  top: 64px;
}

html, body {
  height: 100%
}
