body{
  outline: 0;
}

.opacity-80 {
  opacity: 0.8;
}

.txt-shadow {
  text-shadow: 1px 1px 1px #000;
}

.main-btn {
  width: 100%;
}

html {
  background: url(/images/street-texture-hd-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Fallback for web browsers that doesn't support RGBa */
}

.dtable tr, .dtable td {
  height: 15px !important;
  padding: 1px 1px 1px 1px !important;
}

