body{
  outline: 0;
}

.opacity-80 {
  opacity: 0.8;
}

.txt-shadow {
  text-shadow: 1px 1px 1px #000;
}

.main-btn {
  width: 100%;
}

html {
  background: url(/images/street-texture-hd-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Fallback for web browsers that doesn't support RGBa */
}

.dtable tr, .dtable td {
  height: 15px !important;
  padding: 1px 1px 1px 1px !important;
}

.side-nav li {
  z-index: 110 !important;
}

div.drag-target {
  z-index: 100 !important;
}

a.btn-floating {
  z-index: 105 !important;
}

.advTitle {
  font-size: 85%;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.hidden {
  display: none !important
}

.progress {
  margin: 0;
}

.mobile-modal {
  width: 98%;
}

.btn-details {
  padding: 0 20px 0 20px;
}

.title-icon {
  font-size: 32px;
  vertical-align: bottom;
}

.outingImage {
  display: block;
  margin: auto;
  width: 100%;
}

#assistance[type="checkbox"] + label {
  font-size: 1.5rem !important;
}

@media screen and (max-width: 600px ) {
  .view-overlay {
    height: calc(100% - 60px);
    top: 60px;
  }

  .progress {
    top: 56px;
  }

  .pagination li a {
    padding: 0 5px;
  }

  .row .col {
    padding: 0 0.5rem;
  }

  .btn-details {
    padding: 0 10px 0 10px;
  }

  .view-panel {
    width: 96% !important;
  }

  .btn-search {
    padding: 0 10px;
  }

  .btn-search i {
    margin-right: 5px !important;
  }
}

@media screen and (min-width: 601px) {
  .view-overlay {
    height: calc(100% - 68px);
    top: 68px;
  }

  .progress {
    top: 64px;
  }

}

.pagination li a {
  font-size: 1rem !important;

}

.view-overlay {
  width: 100%;
  display: block;
  position: fixed;

  background-color: black;
  opacity: 0.1;
  z-index: 999999999;
}

.progress {
  position: fixed;
}

html, body {
  height: 100%
}
